<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097246265703-27u2iqn8sepbjeetcl85hoee2a59s83o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097246265703-27u2iqn8sepbjeetcl85hoee2a59s83o</string>
	<key>API_KEY</key>
	<string>AIzaSyAB1Zam9kiO9pEvGNTMrgGCWB5QLfVeBR4</string>
	<key>GCM_SENDER_ID</key>
	<string>1097246265703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cairgy.theRive</string>
	<key>PROJECT_ID</key>
	<string>makunda-701b8</string>
	<key>STORAGE_BUCKET</key>
	<string>makunda-701b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097246265703:ios:b8686885e17aa83e8d1fc2</string>
</dict>
</plist>